form {
  display: flex;
  gap: 1rem;
}

.todo-input {
  border-style: none;
  outline: none;
  padding: 1rem 4rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-btn {
  border-radius: 0.1rem;
  border-style: none;

  padding: 1rem 1.4rem;
  /* color: purple; */
  font-size: 1.2rem;
  background-color: hsl(235, 19%, 54%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: hsl(236, 23%, 23%);
}
.filter-todo {
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  font-weight: 600;
}

.form-light-mode {
  background-color: hsl(235, 24%, 19%);
  color: white;
}

.form-dark-mode {
  color: rgb(38, 37, 37);
  background-color: rgb(241, 239, 235);
}

.plus-icon {
  width: 1rem;
  height: 1rem;
  fill: azure;
}

@media (max-width: 650px) {
  .filter-todo {
    width: 10rem;
    font-size: 1rem;
  }

  .todo-input {
    width: 15rem;
  }
}

@media (max-width: 480px) {
  .filter-todo {
    width: 8rem;
    font-size: 1rem;
  }

  .todo-input {
    width: 12rem;
  }
}
